<div class="card h-100">
  <img src="/assets/imgs/comidas/fajitas_de_pollo.jpg" class="card-img-top" alt="Fajista de pollo" style="height: 40%;">
  <div class="card-body">
    <h3 class="card-title">Fajitas</h3>
    <p class="card-text">Delgadas tiras de cerdo marinadas con especias y pimientos frescos, asadas a la
      perfección. Un festín de sabores
      jugosos, listo para ser envuelto en tortillas y disfrutado al estilo tex-mex.
    </p>
    <div>
      <h5>Precios</h5>
      <h6>1 Orden ------------- <strong class="text-danger">$65.00</strong></h6>
      <h6>1/2 Orden ------------- <strong class="text-danger">$45.00</strong></h6>
    </div>
    <button class="btn text-danger" style="border: 2px solid red;">Ordenar</button>
  </div>
</div>