<div class="h-100 myCardMenu">
  <header class="myCardMenu__header m-0 p-0">
    <img src={{food.img_comida}} class=" w-100 h-100 " alt="Fajista de pollo">
  </header>
  <article class=" myCardMenu__information">
    <h3 class="card-title m-0 p-0">{{food.nom_comida}}</h3>
    <p class="card-text m-0 p-0">{{food.descripcion}}</p>
    <div class="text-center">
      <h5 class="m-0">👛Precios💰</h5>
      <h6 class="m-0">1 Orden ------------- <strong class="text-danger">${{food.precio_orden}}</strong></h6>
      <h6 class="m-0">1/2 Orden ------------- <strong class="text-danger">${{food.precio_media_racion}}</strong></h6>
      <button class="btn btn-ordenar my-3">Ordenar</button>
    </div>
  </article>
</div>