<section class="container container-about-us " id="about-us" style="padding: 0 7rem;">
  <article class="row row-header">
    <header class="col-12  p-0 m-0 mt-5 d-flex justify-content-around align-items-center">
      <div class="w-50 h-100 d-flex  ">
        <div class="">
          <span class="text-danger">Sobre Nosotros</span>
          <h2 class="m-0">Dominio culinario yucateco</h2>
        </div>
      </div>
      <div class="w-50 h-100 m-0 d-flex justify-content-end align-items-center">
        <div class="d-flex">
          <img class="m-0" style="width: 4rem; height: 4rem;" src="/assets/icons/icon-mano-chef.svg"
            alt="icon-mano-chef.svg">
          <div class="" style="text-wrap: nowrap;">
            <h3 class="m-0">20+</h3>
            <span style="display: inline-block; width: 10rem;">Variantes de menú</span>
          </div>
        </div>
        <div class="d-flex">
          <img class="m-0" style="width: 4rem; height: 4rem;" src="/assets/icons/icon-plato-sopa.svg"
            alt="icon-plato-sopa.svg">
          <div>
            <h3 class="m-0">3+ Años</h3>
            <span style="display: inline-block; width: 10rem;">de tradición culinaria</span>

          </div>
        </div>
      </div>
    </header>
  </article>
  <article class="row row-content mt-4">
    <aside class="col-6 aside-imgs ">
      <figure class="aside-imgs__figure">
        <img src="/assets/imgs/comidas/tamalitos.jpg" alt="tamalitos.jpg">
      </figure>
      <figure class="aside-imgs__figure aside-imgs__figure--two">
        <img src="/assets/imgs/comidas/bistec_de_res.jpg" alt="bistec_de_res.jpg">
      </figure>
    </aside>
    <aside class="col-6 py-0 px-5 ">
      <h2 class="display-4 m-0">👩🏻‍🍳</h2>
      <p>"En medio de los desafíos y cambios que la pandemia del 2020 trajo
        consigo, nació La Esperanza en el apacible
        pueblo de
        San Antonio Siho. Fundada con la visión de ofrecer comidas reconfortantes y accesibles, nos enorgullece ser un
        punto de
        encuentro para la comunidad."</p>

      <p>En el año 2020, cuando el mundo se enfrentaba a tiempos difíciles, decidimos dar vida a La Esperanza.
        Inspirados por el deseo de brindar consuelo y apoyo a nuestra comunidad, comenzamos nuestra travesía en el
        corazón de San Antonio Siho. Con una dedicación inquebrantable, convertimos un sueño en realidad, estableciendo
        no solo un lugar para disfrutar de deliciosas comidas, sino también un espacio donde la esperanza y la comunidad
        florecen.</p>

      <footer class="w-100 ">
        <div class="d-flex align-items-center " style="border-bottom: 1px solid #868686;">
          <figure class="overflow-hidden me-2 p-1"
            style="width: 5rem;height: 5rem; border: 2px solid red; border-radius: 50%;">
            <img class="w-100 h-100" style="object-fit: contain;" src="/assets/imgs/Logo_esperanza.png"
              alt="Logo_esperanza.png">
          </figure>
          <div>
            <h4 class="m-0 p-0">La esperanza 🕊️</h4>
            <span class="m-0" style="color: #868686;">Comida Ec</span>
          </div>
        </div>
        <div class="d-flex mt-3">
          <p style="margin: 0 1rem 0 0;">🔴Autenticidad</p>
          <p style="margin: 0 1rem 0 0;">🔴Gusto</p>
          <p style="margin: 0 1rem 0 0;">🔴Tradición</p>
          <p style="margin: 0 1rem 0 0;">🔴Excelencia</p>

        </div>
      </footer>

    </aside>
  </article>
</section>