<section class="container">
  <div class="row min-vh-100 row-container-hero">
    <div class="layer-hero"></div>
    <article class="col-6 side-titles">
      <span class="side-titles__subtitle"
        >PURA AUTENTICIDAD, SABOR IRRESISTIBLE</span
      >
      <h1 class="side-titles__title">
        Cocina económica <br />La esperanza Comida Ec 🕊️
      </h1>
      <p class="side-titles__description">
        Sumérgete en la verdadera esencia de Sihó, donde reinan la autenticidad
        y el sabor.
      </p>
      <button class="btn side-titles__btn-view-menu">Ver menú</button>
    </article>
    <article class="col-6 side-imagen">
      <figure class="overflow-hidden side-imagen__figure-img"></figure>
    </article>
  </div>
</section>
