// $bg-color-secondary: #1bd741;
// $color-text-secondary: #fff;
// $color-text-thirty: #075e55;
// $color-text-last-msg: rgb(86, 86, 86);

$bg-red1: #e80f1f;
$bg-red2: #ca0b19;
$bg-red3: #fde7e8;
$bg-black: #000000;
$bg-white: #ffffff;

$c: #fff700;
