@import "../styles/partials/variables";

@font-face {
  font-family: "Rubik", sans-serif;
  src: url("/assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  /* Puedes agregar más formatos si tu fuente los incluye, como woff, woff2, etc. */
}

main {
  font-family: "Rubik", sans-serif;
  /* Puedes aplicar la fuente a otros elementos según sea necesario */
}